@font-face {
    font-family: 'Mikodacs';
    src: url('Mikodacs.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html{
	background-color: blue;
}
p {
	font-family: 'Mikodacs';
	font-size: 79px;
	color: white;
}
player{
	text-align: center;
}
#logo{
	width: 370px;
}