#header {
	font-weight: bold;
	color: green;
	font-family: 'Courier New', Courier, monospace;
}
#punkt{
	font-size: 20px;
	font-family:  'Courier New', Courier, monospace;
}
#przedmioty{
	font-family: 'Comic Sans MS';
}